
body {
  font-family: 'Open Sans', serif;  
  font-size: 16px;
  margin: 0 auto;
  max-width: 1080px;
}

header {
  background-color: #6b097d;
  height: 50px;
}

header .logo {
  margin: 14px 2em;
  width: 70px;
}


nav {
  display: inline-block;
  vertical-align: top;
}
nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #d1d1d1;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: white;
}

h2 {
  background-color: #6b097d;
  color: #d1d1d1;
  font-size = 10px;
  height: 30px;
}

p {
background-color: #FFFFFF;	
/* background-image: 'falta.jpg' */
color: #404040;
font-weight: bold;
font-size = 10px;
text-align:center;
}

.personajes {
  overflow: hidden;
  padding: 0 1em;
  background-color: #FFFFFF;
}

.personaje {
  /*font-family: Arial;*/
  float: left;
  margin-right: 1.5%;
  width: 30%;	
}
.personaje:nth-child(7n) {
  margin-right: 0;
}
.personaje img {
  transition: 1s all ease;
  width: 100%;
}
.personaje img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
}

@media screen and (max-width: 600px){
  
  nav { display: none; }

  .serie {
    width: 30%;
    margin-right: 5%;
  }
  .serie:nth-child(3n){
    margin-right: 0;
  }


}