body {
  margin: 0;
}
nav {
  background-color: lightblue;
  overflow: hidden;
}
nav ul {
  margin: 0;
  padding: 10px;
}
nav ul li {
  list-style-type: none;

}
nav ul li a {
  color: white;
}
.text {
  background-color: peru;
  overflow: hidden;
  padding: 10px;
}