body {
  font-size: 16px;
  margin: 0 auto;
  max-width: 1080px;
  font-family:Arial, Helvetica, sans-serif;
}

header {
  background-image: url(http://www.universalchannel.tv/images/menu/background-menu.png);
  background-repeat: repeat-x;  
  height: 55px;
}

nav {
  display: inline-block;
  vertical-align: top;  
}

nav ul {
  float : left;
  width:  61em;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
  font-family: 'Gudea', sans-serif;
}
nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a (6) {
  margin-left: 50px;
}

.series {
  overflow: hidden;
  padding: 0 1em;
}
.serie {
  float: left;
  margin-right: 1.5%;
  width: 30%;
}
.serie:nth-child(7n) {
  margin-right: 0;
}
.serie img {
  transition: 1s all ease;
  width: 100%;
}

@media screen and (max-width: 600px){
  
  nav { display: none; }

  .serie {
    width: 30%;
    margin-right: 5%;
  }
  .serie:nth-child(3n){
    margin-right: 0;
  }
}

.subtitulo
{
  text-align: center;
  color: #404040;
  font-size: 0.9em;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}

.tituloPagina
{
  background-image: url(http://www.universalchannel.tv/images/menu/background-menu.png);
  background-repeat: repeat-x;  
  height: 30px;
  padding: 10px 0 0 40px;
  background-color: #6b097d;
  color: white;
  font-size: 1em;
  font-family: 'Gudea', sans-serif;
}

.redsocial {
  float: right;
  width: auto;
  padding: 14px 0 0 0;
}

.iconosfacetwit {
  color: white;
  text-decoration: none;
  vertical-align: middle;

