body {
  font-size: 16px;
  margin: 0 auto;
  max-width: 1080px;
  font-family: sans-serif;
}

header {
  background-color: #6b097d;
  height: 55px;
}

nav {
  display: inline-block;
  vertical-align: top;
   font-family: sans-serif;
}

nav ul {
  float: left;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
  float: left;
}

nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
  float: left;
}


nav ul li a:hover {
  color: #B0A797;
}


.characters {
  overflow: hidden;
  padding: 0 1em;
}

.socialElem {
  float: right;
}

.character {
  float: left;
  margin-right: 1.5%;
}

.character img {
  transition: 1s all ease;
  width: 100%;
}


.character img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
}


.subtitle {
  background-color: #6b097d;
  color: #FFFFFF;
}

.description {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}