body {
  font-size: 16px;
  margin: 0 auto;
  max-width: 1080px;
  background-color: #FCF2FC;
}

header{
	background-color: #6b097d;
	height: 35px;
}

.linea{
	background-color: #800080;
	line-height: 7px;
	margin-bottom:0px;
}



header nav .menu{
	background-color: #6b097d;
	padding-top: 20px;
}


header nav ul li{
	background-color: #6b097d;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: white;
	display: inline-block;
	margin-right: 5px;
}

header ul{
	padding-left: 5px;
	margin-top: 5px;
}

header ul li a{
	color: white;
	text-decoration: none;
}

.subtitulo{
	margin-top: 6px;
}

h2{
	background-color: #6b097d;
	font-family: sans-serif;
	font-weight: bold;
	color: white;
	font-size: 15px;
	line-height: 20px;
	padding-left: 5px;
	margin-top:0px;
}

.seccionPersonajes{
	overflow: hidden;
	padding: 0 5em;
	background-color: #faf5fa;
}

.personaje {
  float: left;
  margin-right: 0.5%;
  width: 33%;
}

.personaje:nth-child(3n) {
  margin-right: 0;
}

.personaje img {
  transition: 1s all ease;
  width: 100%;
}

.personaje p{
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
	color: #404040;
	
}
