body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 19px;
  font-weight: 700;
  margin: 0 auto;
  max-width: 1080px;
}

.menu {
  background: #2b88d9; /* Old browsers */
  background: -moz-linear-gradient(top,  #2b88d9 0%, #2b88d9 0%, #5019e8 2%, #7523db 51%, #2a1f3a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b88d9), color-stop(0%,#2b88d9), color-stop(2%,#5019e8), color-stop(51%,#7523db), color-stop(100%,#2a1f3a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #2b88d9 0%,#2b88d9 0%,#5019e8 2%,#7523db 51%,#2a1f3a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #2b88d9 0%,#2b88d9 0%,#5019e8 2%,#7523db 51%,#2a1f3a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #2b88d9 0%,#2b88d9 0%,#5019e8 2%,#7523db 51%,#2a1f3a 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #2b88d9 0%,#2b88d9 0%,#5019e8 2%,#7523db 51%,#2a1f3a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b88d9', endColorstr='#2a1f3a',GradientType=0 ); /* IE6-9 */
  height: 60px;
}
.subMenu {
  background: #2b88d9; /* Old browsers */
  background: -moz-linear-gradient(top,  #2b88d9 0%, #2b88d9 0%, #5019e8 2%, #7523db 51%, #2a1f3a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b88d9), color-stop(0%,#2b88d9), color-stop(2%,#5019e8), color-stop(51%,#7523db), color-stop(100%,#2a1f3a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #2b88d9 0%,#2b88d9 0%,#5019e8 2%,#7523db 51%,#2a1f3a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #2b88d9 0%,#2b88d9 0%,#5019e8 2%,#7523db 51%,#2a1f3a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #2b88d9 0%,#2b88d9 0%,#5019e8 2%,#7523db 51%,#2a1f3a 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #2b88d9 0%,#2b88d9 0%,#5019e8 2%,#7523db 51%,#2a1f3a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b88d9', endColorstr='#2a1f3a',GradientType=0 ); /* IE6-9 */
  height: 30px;
}
nav {
  display: inline-block;
  vertical-align: middle;
}
nav ul li {
  display: inline-block;
  margin-right: 10px;
  line-height: 10px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  color: #d1d1d1;
}
.subMenuPalabra {
  margin-left: 40px;
  margin-right: 10px;
  line-height: 10px;
}
.subMenuPalabra a {
  text-decoration: none;
  color: white;
}
div {
  display: inline-block;
  vertical-align: top;
  float: right;
}
.redsocial {
  display: inline-block;
  color: white;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.redsocial:hover {
  color: #d1d1d1;
}
.series {
  overflow: hidden;
  padding: 0 1em;
}
.serie {
  float: left;
  margin-right: 1.5%;
  margin-bottom: 35px;
  width: 30%;
}
.serie:nth-child(7n) {
  margin-right: 0;
}
.serie img {
  width: 100%;
}
.serie label {
  display: block;
  text-align: center;
  margin-top: 7px;
}
@media screen and (max-width: 480px) {
  .serie {
    float: left;
    margin-right: 1.5%;
    margin-bottom: 35px;
    width: 45%;    
  }
  .redsocial {
    visibility: hidden;
  }
}